* {
    /* font-family: 'Times New Roman', serif; */
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* background-color: rgb(244, 164, 178); */
}

body {
    background-color: antiquewhite;
}

ul {
    list-style: square inside;
}

h1 {
    color: rgb(207, 8, 104);
    font-size: 40px;
    font-weight: bold;
    border-style: dotted;
    border-width: 3px;
    display: inline-block;
    padding: 0px 8px;
    margin: 0px auto 8px;
}

.content-background {
    border-style: solid;
    border-color: rgb(244, 164, 178);
    max-width: 700px;
    display: block;
    margin: auto;
    background: rgb(249, 186, 197);
    padding: 16px;
}

.top-title {
    text-align: center;
}

.image {
    display: block;
    margin: 16px auto;
}

.recipe-text {
    margin: 8px 30px;
    font-size: 20px;
}

#index-text {
    font-size: 20px;
}